{% extends 'base.html' %}

{% block title %}
    {{ res_value('UPD_CENTER') }}
{% endblock %}

{% block main_title %}
    <h1 class="title">{{ region_name }}:&nbsp;{{ code_center }}/{{ id_center }}</h1>
{% endblock %}

{% block body %}
<form class="form_history_create" method="POST">
    <br>
    <table>
       <tbody>
            <tr>
                <td><p class="title2">{{ res_value('CODE_CENTER') }}:&emsp;{{ code_center }}</p></td>
            </tr>
            <tr>
                <td><input type="text" size="16" maxlength="32" style="width: 100%" name="code_center"><br></td>
            </tr>
            <tr>
                <td><p class="title2">{{ res_value('CENTER_SHORT_NAME_RU') }}:&emsp;{{ name_short_ru }}</p></td>
            </tr>
            <tr>
                <td><input type="text" size="96" maxlength="128" style="width: 100%" name="name_short_ru"></td>
            </tr>
            <tr>
                <td><p class="title2">{{ res_value('CENTER_SHORT_NAME_KZ') }}:&emsp;{{ name_short_kz }}</p></td>
            </tr>
            <tr>
                <td><input type="text" size="96" maxlength="128" style="width: 100%" name="name_short_kz"><br></td>
            <tr>
                <td><p class="title2">{{ res_value('CENTER_NAME_RU') }}:&emsp;{{ name_ru }}</p></td>
            </tr>
            <tr>
                <td><textarea rows="3" cols="128" maxlength="512" style="width: 100%" name="name_ru"></textarea><br></td>
            </tr>
            <tr>
                <td><p class="title2">{{ res_value('CENTER_NAME_KZ') }}:&emsp;{{ name_kz }}</p></td>
            </tr>
            <tr>
                <td><textarea rows="3" cols="128" maxlength="512"  style="width: 100%" name="name_kz"></textarea><br></td>
            </tr>
        </tbody>
    </table>
    <input type="submit" class="bt save" value="{{ res_value('SAVE') }}">
</form>
{% endblock %}