{% extends 'base.html' %}

{% block title %}
    {{ res_value('UPD_REGION') }}
{% endblock %}

{% block main_title %}
    <h1 class="title">{{ res_value('UPD_REGION') }}</h1>
{% endblock %}

{% block body %}
<form class="form_history_create" method="POST">
    <br>
    <table>
       <tbody>
            <tr>
                <td><p class="title2">{{ res_value('ID_REGION') }}</p></td>
                <td><a style="width: 10%" name="id_region">{{ id_region }}</a></td>
            </tr>
            <tr>
                <td><p class="title2">{{ res_value('REGION_NAME_RU') }}</p></td>
                <td><a style="width: 10%">:&emsp;{{ name_ru }}:&emsp;</a></td>
                <td><input type="text" size="64" maxlength="128" style="width: 100%" name="name_ru"></td>
            </tr>
            <tr>
                <td><p class="title2">{{ res_value('REGION_NAME_KZ') }}</p></td>
                <td><a style="width: 10%">:&emsp;{{ name_kz }}:&emsp;</a></td>
                <td><input type="text" size="64" maxlength="128" style="width: 100%" name="name_kz"></td>
            </tr>
        </tbody>
    </table>
    <input type="submit" class="bt save" value="{{ res_value('SAVE') }}">
</form>
{% endblock %}