{% extends 'base.html' %}

{% block title %}
    {{ res_value('ROLE_PARTICIPENT') }}:&nbsp;{{ role_name }}
{% endblock %}

{% block main_title %}
    <h1  class="title">{{ res_value('NAME_ROLE') }}:&nbsp;{{ role_name }}</h1>
{% endblock %}

{% block body %}
<div class="role-container">
    <div class="role_all">
         <table class="table_role_all">
             <colgroup>
                <col>
                <col>
                <col>
             </colgroup>
             <thead>
                 <tr>
                    <a class="title">{{ res_value('FREE_PARTICIPENT') }}:</a>
                 </tr>
                 <tr>
                     <th><a>{{ res_value('USERNAME') }}</a></th>
                     <th><a>{{ res_value('FIO') }}</a></th>
                     <th><a>{{ res_value('POST') }}</a></th>
                     <th></th>
                 </tr>
             </thead>
             <tfoot></tfoot>
             <tbody>
                {% for el in all_users %}
                  <tr>
                      <td><div style="text-align: left">{{ el.username }}</div></td>
                      <td><div style="text-align: left">{{ el.fio }}</div></td>
                      <td><div style="text-align: left">{{ el.descr }}</div></td>
                      <td><a href="/role-users-add/{{ id_role }}/{{ el.id_user }}">></a></td>
                  </td>
                  </tr>
                {% endfor %}
              </tbody>
        </table><br>
    </div>
    <div class="role_selected">
         <table class="table_role_selected">
             <colgroup>
                <col>
                <col>
                <col>
             </colgroup>
             <thead>
                <tr>
                    <a class="title">{{ res_value('ROLE_PARTICIPENT') }}:</a>
                </tr>
                 <tr>
                     <th></th>
                     <th><a>{{ res_value('USERNAME') }}</a></th>
                     <th><a>{{ res_value('FIO') }}</a></th>
                     <th><a>{{ res_value('POST') }}</a></th>
                 </tr>
             </thead>
             <tfoot></tfoot>
             <tbody>
                {% for el in role_users %}
                  <tr>
                      <td><a href="/role-users-del/{{ id_role }}/{{ el.id_user }}"><</a></td>
                      <td><div style="text-align: left">{{ el.username }}</div></td>
                      <td><div style="text-align: left">{{ el.fio }}</div></td>
                      <td><div style="text-align: left">{{ el.descr }}</div></td>
                  </td>
                  </tr>
                {% endfor %}
              </tbody>
        </table><br>
    </div>
</div>
{% endblock %}